
<h3>■Google Calendarのスケジュール取得■</h3>

<% form_tag url_for(:controller=>:gcal, :action=>:auth_gcal) do -%>

	<%= calendar_date_select_tag "yyyymmdd", "", :popup=>:force %>
	<%= submit_tag "Go!" %>
<% end -%>
